* {
    text-align: center;
    width: 18rem;
    padding-left: 6rem;
}

.section {
    align-items: center;
}

.first-section {
    padding: 70%;

}

ul {
    list-style-type: none;
}

.list {
    margin-right: 30%;
    align-items: center;
}