h1 {
    color: burlywood;
    text-align: center;
}

.price-one {
    color: blueviolet;
    font-size: larger;
}

.price-two {
    color: #ff0000;
    font-size: smaller;
}

.image {
    margin-top: 18px;
    margin-bottom: 4px;
}

.short-content {
    text-align: right;
    background-color: black;
    color: #fff;
}

.comments {
    padding-left: 50px;
}

.button button {
    color: #fff;
    background-color: blue;
    margin-left: 80px;

}

.links-list {
    padding-left: 20px;
}

.my-bord {
    width: 100%;
}

.foot-bottom {
    text-align: center;
    background-color: aqua;
    color: #fff;
    display: block;
    margin: 10px;
    padding: 10px;
    border: none;
}